<div class='theme-card-wrap column medium-6 large-6'>
  <div class='theme-card theme-card'>

    {% if theme.price %}
      <span class='theme-card__price'><sub>$</sub>{{ theme.price }}</span>
    {% else %}
      <span class='theme-card__price font-medium'>Free</span>
    {% endif %}

    <a href='{{ theme.url }}' class='block' title='{{ theme.title }}'>
      <div class='fadein theme-card__image CoverImage FlexEmbed FlexEmbed--4by3' style='background-image: url(/{{ theme.thumbnail }})'>
      </div>
    </a>

    <h2 class='theme-card__title'>
      <a title='{{ theme.title }}' href='{{ theme.url }}'>{{ theme.name }}</a>
    </h2>

  </div>
</div>